/*Quitar restricciones */
.bd-example .fixed-top,.bd-example .sticky-top {
    position: fixed;
   
}

/* tamaño del carusel */
.swiper {
    width: 100%;
    height: 300px;
  }






.margenusuario{
    display: none;
    height: auto; /* Restablece la altura a automático */
    width: auto; /* Restablece el ancho a automático */
    background-color: transparent; 
  
}

.button-add-user{
    display: none;
    width: 90%; 
    height: 35px;

}
.margenSecction{
    margin-top: 80px ;
    width: 100%;
    height:auto; 
    
}
/*
animations cars
*/


/*
icons
*/
.icons{
    width: 30px; 
    filter: invert(1);
}
.iconsMenu{
    width: 30px; 
    filter: invert(1);
}
.icons-users{
    width: 30px; 
    filter: invert(1); 
}
.icons-letters{
    color: aliceblue;
}
.icons-letters-users{
    color: aliceblue;
}

.division{
   display: none;
    border-top: 1px solid rgb(66, 64, 64); /* Puedes ajustar el color y el grosor según tus preferencias */
    
    
}

#pendNotis {
    display: none;
}

/*
Responsive
*/
@media (max-width: 990px) {
    .margenusuario {
    display: block;
    height: 120px;
    background-color: #6C3428;
    width: auto;
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    }

    /* Responsive incons*/
    .icons{
        filter: invert(0);
       
    }
    .icons-users{
        width: 50px; 
    }
    /* Responsive letters*/
    .icons-letters{
        color: black;
    }
    .button-add-user{
        display: block;
     
    }
    .division{
        display: block;
    }
}

.madimi-one-regular {
    font-family: "Madimi One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .content {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 35%;
    
    transition: transform 0.5s ease-in-out; /* Transición de desplazamiento */
    transform: translateY(100%); /* Comienza fuera de la pantalla */
    z-index: 1041; /* Índice Z superior */
    
  }

  .content.active {
    transform: translateY(0); /* Se desplaza hacia arriba para mostrar */
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Opacidad del fondo */
    z-index: 1040; /* Z-index inferior al menú desplegable */
    display: none; /* Inicialmente oculto */
  }
 