/*background*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
  }
 
  img {
    max-width: 100%;
    height: auto;
  }
  
  .login {
    position: relative;
    height: 100vh;
    display: grid;
    align-items: center;
    background-color: rgb(153, 103, 103);
  }
  /*rgb(83, 55, 55);*/
  .login__img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    opacity: 0.3;
  }
  
  /*disguise sections*/
  .disguise{
    display: none;
  }


/*Welcome */
  .from{
    text-align: center;
    
    z-index: 1; /* Asegura que el formulario esté encima de la imagen de fondo */
 
    padding: 10%; /* Espacio interno */
   
  }

  .a {
    color: rgb(132, 236, 118); /* Cambia el color del texto del enlace */
    
  }
  #welcome h1, h6, span{
    color: aliceblue;
    
  }



/*Form*/
.login__form {
  display: flex;
  flex-direction: column; /* Alinea los elementos uno debajo del otro */
  justify-content: center; /* Centra verticalmente los elementos */
  color: white; /* Asegura que el texto sea visible en el fondo */
  z-index: 1; /* Asegura que el formulario esté encima de la imagen de fondo */
  background-color: rgba(230, 220, 220, 0.5); /* Fondo transparente con 50% de opacidad */
  border: 1px solid black; /* Borde sólido negro de 2px */
  border-radius: 10px; /* Bordes redondeados */
  padding: 40px; /* Espacio interno */
  max-width: 100%;
  margin: 0 auto; /* Centra el formulario horizontalmente */
}


.letra{
  max-width: 100%;
  display: flex;
  color: black;
}

.button-login{
  
  width: 125px;
  


}
.div-button{
  align-content: space-between;
  
    flex-direction: column;
}
.div-create{
  display: flex;
  justify-content: flex-end;
}
/*Iconos de los inpust*/

.div-arrows{
  display: flex;
  justify-content: flex-start;
  .div-arrows span{
    width: 40px;
  }
}
.container-arrow{
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

/*Animation*/
@keyframes jirar {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.animatioFlower {
  margin-top: -100px;
  animation: jirar 10s linear infinite; /* Aplica la animación "jirar" al elemento img */
  width: 75px;
  filter: invert(1);

}


/*Responsive login*/

@media screen and (min-width: 950px) {
  .login__form {
    max-width: 700px;
  }
  
}
