/*INICIO DE SESIÓN*/
.inicio{


.container{
    height: 100vh;
	margin: 3%;
}

.i-logo{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #36be27;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
}

.title{
    text-align: center;
}

.form{
    align-items: center;
}
.input-div{
    width: 95%;
    margin: auto;
    margin-bottom: 5%;
}

/*LINK DE REGISTRO*/
a{
	display: block;
	text-align: right;
	text-decoration: none;
	color: #6C3428;
	font-size: 0.9rem;
	transition: .3s;
	margin-top: 8px;
	margin-right: 2%;
	font-weight: bold;
}

a:hover{
	transform: 1.1;
    font-style: bold;
	color: #1c1a2c;
	font-weight: bold;
}

/*BOTON DE INICIO DE SESIÓN*/
.btn{
	display: block;
	width: 60%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #E2C799, #C08261, #9A3B3B);
	background-size: 200%;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: auto;
	cursor: pointer;
	transition: .5s;
	
}
.btn:hover{
	background-position: right;
}

.formuu{
	background-color: #F2ECBE;
	border: solid #65451F 1px;
	height: 380px;
	width: 350px;
	border-radius: 7%;
	box-shadow: 10px 8px 15px #a9a9a9;
	position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49%);
}
}

/*REGISTRO DE USUARIO*/
.registrarUsuario{

    display: none;

.i-logo{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    color: #36be27;
        -webkit-text-stroke-width: 1px;
        -webkit-text-stroke-color: white;
}

.cajas{
    width: 95%;
    margin: auto;
}

.botongei{
	display: block;
	width: 60%;
	height: 50px;
	border-radius: 25px;
	outline: none;
	border: none;
	background-image: linear-gradient(to right, #E2C799, #C08261, #9A3B3B);
	background-size: 200%;
	font-family: 'Poppins', sans-serif;
	text-transform: uppercase;
	margin: auto;
	cursor: pointer;
	transition: .5s;
	
}
.botongei:hover{
	background-position: right;
}

.formiaulario{
    background-color: #F2ECBE;
    border: solid #65451F 1px;
    height: 470px;
    width: 350px;
    border-radius: 7%;
    box-shadow: 10px 8px 15px #a9a9a9;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-49%, -49%);
}
}

.icon-button {
    position: relative;
    display: flex;
    border: none;
    outline: none;


    .icon-button-badge {
        position: absolute;
        top: -2px;
        right: -2px;
        width: 20px;
        height: 20px;
        background: red;
        color: #ffffff;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
      }

    .icon-button-badgetwo {
        position: absolute;
        top: 12px;
        right: 20px;
        width: 20px;
        height: 20px;
        background: red;
        color: #ffffff;
        display: flex;
        border-radius: 50%;
        
      }

    .notibell{
        margin-top: -10%;
        width: 22px;
        height: 22px;
        filter: invert(1);
    }

  }
  




/*BARRA DE NAVEGACIÓN*/
.nav-barvv{
    
    .navbar {
        background-color: #6C3428;
        transition: background-color 0.3s ease; /* Agregamos transición para el color de fondo */
    }

    .navbar-brand {
        position: relative;
        color: white;
        font-weight: bold;
        transition: color 0.3s ease; /* Agregamos transición para el color del texto */
    }

    .nav-link {
        color: white;
        transition: color 0.3s ease; /* Agregamos transición para el color del texto */
    }

    .nav-icon {
        height: 20px;
        margin-right: 5px;
    }
      
    
}

.seccion {
    display: none;
}

/*FORMULARIO DE AGREGAR MACETA*/
.formuMaceta{


.cajas{
        width: 95%;
        margin: auto;
}

.botoness{
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-cam{
    margin-left: 2%;
}

.botonpot {
    background-color: #ecd5b6;
    border: 1px solid rgb(209,213,219);
    border-radius: .5rem;
    box-sizing: border-box;
    color: #111827;
    font-size: .875rem;
    font-weight: 600;
    line-height: 1.25rem;
    padding: .5rem 1rem;
    text-align: center;
    text-decoration: none #D1D5DB solid;
    text-decoration-thickness: auto;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    height: 3rem;
}

.botonpot:hover {
    background-color: #d2ac7b;
}

.botonpot:focus {
    outline: 2px solid transparent;
    outline-offset: 2px;
}

.botonpot:focus-visible {
    box-shadow: none;
}

    
.btn-svcl{
    margin: 10px;
    font-weight: bold;
    width: 35%;
    background-color: #C08261;
    color: white;
}


.card-header {
    font-size: 24px;
    font-weight: bold;
    margin-left: 3%;
}


}

/*PANTALLA PRINCIPAL*/
.principal{

    display: none;

    .navbar{
        background-color: #6C3428;
    }
    
    .navbar-brand{
        color: white;
        font-weight: bold;
    }
    
    .nav-link{
        color: white;
    }

    .nav-icon{
        height: 20px;
        margin-right: 5px;
    }

    



/*BOTÓN PARA AÑADIR MACETA*/
.btn-flotante button{
    font-weight: bold;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
  
    font-size: 36px;
      text-transform: uppercase;
      font-weight: bold;
      color: #6C3428;
      border-radius: 5px;
      letter-spacing: 2px;
      background-color: #BA704F;
    border: 5px solid #6C3428;
      padding: 10px 20px;
      position: fixed;
      bottom: 40px;
      right: 40px;
      transition: all 300ms ease 0ms;
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
      z-index: 99;
}
  
.btn-flotante button:hover{
    background-color: #C8AE7D;
    color: #65451F;
    transform: scale(1.1);
}
}

/*PERFIL DE USUARIO*/
.perfil-p {

    .seccion-perfil-usuario .perfil-usuario-body,
    .seccion-perfil-usuario {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
    }
    
    .seccion-perfil-usuario .perfil-usuario-header {
        width: 100%;
        display: flex;
        justify-content: center;
        margin-bottom: 1.25rem;
    }
    
    .seccion-perfil-usuario .perfil-usuario-portada {
        display: block;
        position: relative;
        width: 80%;
        height: 10rem;
        background-image: linear-gradient(45deg, #6C3428, #6C3428);
        border-radius: 0 0 20px 20px;
        
    }
    
    .seccion-perfil-usuario .perfil-usuario-portada .boton-portada {
        position: absolute;
        top: 1rem;
        right: 1rem;
        border: 0;
        border-radius: 8px;
        background-color: rgba(0, 0, 0, .5);
        color: #fff;
        cursor: pointer;
    }
    
    .seccion-perfil-usuario .perfil-usuario-avatar {
        display: flex;
        width: 180px;
        height: 180px;
        align-items: center;
        justify-content: center;
        border: 7px solid #FFFFFF;
        background-color: #DFE5F2;
        border-radius: 50%;
        box-shadow: 0 0 12px rgba(0, 0, 0, .2);
        position: absolute;
        bottom: -40px;
        left: calc(50% - 90px);
        z-index: 1;
    }
    
    .seccion-perfil-usuario .perfil-usuario-avatar img {
        width: 100%;
        position: relative;
        border-radius: 50%;
    }

    .seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar img {
        width: 100%;
        position: relative;
        border-radius: 50%;
    }
    
    .seccion-perfil-usuario .perfil-usuario-avatar .boton-avatar {
        position: absolute;
        left: -2px;
        top: -2px;
        border: 0;
        background-color: #fff;
        box-shadow: 0 0 12px rgba(0, 0, 0, .2);
        width: 45px;
        height: 45px;
        border-radius: 50%;
        cursor: pointer;
    }
    
    .seccion-perfil-usuario .perfil-usuario-body {
        width: 90%;
        position: relative;
        max-width: 750px;
    }
    
    .seccion-perfil-usuario .perfil-usuario-body .titulo {
        display: block;
        width: 100%;
        font-size: 1.75em;
        margin-bottom: 0.5rem;
    }
    
    .seccion-perfil-usuario .perfil-usuario-body .texto {
        color: #848484;
        font-size: 12px;
    }
    
    .seccion-perfil-usuario .perfil-usuario-footer,
    .seccion-perfil-usuario .perfil-usuario-bio {
        padding: 1.5rem 2rem;
        box-shadow: 0 0 12px rgba(0, 0, 0, .2);
        background-color: #fff;
        border-radius: 15px;
        width: 100%;
    }
    
    .seccion-perfil-usuario .perfil-usuario-footer {
        display: flex;
    }
    
    .seccion-perfil-usuario .perfil-usuario-bio {
        margin-bottom: 1.25rem;
        text-align: center;
        display: flex;
        flex-wrap: wrap;
        text-align: center;
    }
    
    .seccion-perfil-usuario .lista-datos {
        width: 90%;
        list-style: none;
    }
    
    .seccion-perfil-usuario .lista-datos li {
        padding: 5px 0;
    }
    
    .seccion-perfil-usuario .lista-datos li>.icono {
        margin-right: 1rem;
        vertical-align: middle;
    }
    
    
    
    /* FORM FLOTANTE */
    
    /* Estilos del fondo oscuro semitransparente */
    .fondo-oscuro {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 3, 0, 0.6); /* Color oscuro con transparencia */
        z-index: 9998; /* Valor alto para que se muestre por encima del contenido, pero detrás del formulario */
    }
       
    .form-flotante {
        width: 80%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #F2ECBE;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        z-index: 9999;
    }
    
    .card-header{
        font-weight: bold;
        font-size: 20px;
        color: #1d2c22;
        margin: 2px 80px 25px;
        text-align: center;
    }
    
    .form-flotante label{
        display: inline-block;
        width: 500px;
        font-weight: bold;
        font-size: 18px;
        color: #65451F;
        margin: 5px 10px 10px;
    }
    
    .form-flotante input{
        width: 95%;
        color: #473737; 
        font-size: 18px; 
        font-weight: bold; 
        text-align: left; 
        background: #ffffff; 
        padding: 10px;
        border-radius: 5px;
    }
    
    .form-flotante input[type="text"],
    .form-flotante input[type="email"],
    .form-flotante input[type="tel"] {
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
    }
    
    .form-flotante button {
        padding: 8px 20px;
        background-color: #C08261;
        color: rgb(245, 243, 255);
        border: none;
        cursor: pointer;
        font-weight: bold;
        font-size: 14px;
        width: 40%;
        border-radius: 5px;
        margin-left: 6%;
    }
    
    .form-flotante button:hover{
        background-color: #BA704F;
        color: white;
        transition: 500ms;
        transform: scale(1.1);
      }
     
}

/*SECCIÓN DE AGUA*/
.water-sect{

    

    .titulo{
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        font-style: italic;
        font-style: normal;
        color: white;
      }
      
      .subtitulo{
        margin: 0;
        font-family:"Roboto", sans-serif ;
        font-weight: 400;
        font-size: 30px;
        color: rgb(243, 152, 103);
        display: inline;
      }
      
      -slider-container{
        display: flex;
        width: 90%;
        height: 40vh;
        scroll-snap-type: mandatory;
      }
      
      .slider-container img{
        flex: 90%;
        width: 50%;
        object-fit: cover;
        scroll-snap-align: center;
        border-radius: 25% 25%;
      }
      
      .descripcionImagen{
        color:bisque;
        margin: 10px 0;
        font-size: 25px;
        font-weight: 500;
        text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.4);
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      }
      
      .linea-division {
        width: 80%;
        height: 2px;
        background-color: rgba(255, 255, 255, 0.655);
      
      }
      
      .carousel{
        min-height: 300px;
      }
      
      .carousel .carousel-item{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        user-select: none;
        width: 300px;
        height: 300px;
      }
      
      
      .carousel .carousel-item img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        border-radius: 16px;
      }

    .header {
        position:relative;
        text-align:center;
        background: linear-gradient(60deg, rgba(84,58,183,1) 0%, rgba(0,172,193,1) 100%);
        color:white;
      }
      .logo {
        width:50px;
        fill:white;
        padding-right:15px;
        display:inline-block;
        vertical-align: middle;
      }
      
      .inner-header {
        height:65vh;
        width:100%;
        margin: 0;
        padding: 0;
      }
      
      .flex { /*Flexbox for containers*/
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
      }
      
      .waves {
        position:relative;
        width: 100%;
        height:15vh;
        margin-bottom:-7px; /*Fix for safari gap*/
        min-height:100px;
        max-height:150px;
      }
      
      .content {
        position:relative;
        height:20vh;
        text-align:center;
        background-color: white;
      }
      
      /* Animation */
      
      .parallax > use {
        animation: move-forever 25s cubic-bezier(.55,.5,.45,.5)     infinite;
      }
      .parallax > use:nth-child(1) {
        animation-delay: -2s;
        animation-duration: 7s;
      }
      .parallax > use:nth-child(2) {
        animation-delay: -3s;
        animation-duration: 10s;
      }
      .parallax > use:nth-child(3) {
        animation-delay: -4s;
        animation-duration: 13s;
      }
      .parallax > use:nth-child(4) {
        animation-delay: -5s;
        animation-duration: 20s;
      }
      @keyframes move-forever {
        0% {
         transform: translate3d(-90px,0,0);
        }
        100% { 
          transform: translate3d(85px,0,0);
        }
      }
      /*Shrinking for mobile*/
      @media (max-width: 768px) {
        .waves {
          height:40px;
          min-height:40px;
        }
        .content {
          height:30vh;
        }
        h1 {
          font-size:24px;
        }
      }
}

/*SECCIÓN DE GRÁFICAS*/
.graph-sect{
    
    margin: auto;

}

/*SECCIÓN DE REDES*/
.wifi-sec {

    /*LISTA DE REDES*/
    .ul-net{
        font-weight: bold;
        font-size: 12px;
        color: #65451F;
    }
    
    .btn-nett {
        padding: 8px 20px;
        background-color: #C08261;
        color: rgb(245, 243, 255);
        border: none;
        cursor: pointer;
        font-weight: bold;
        font-size: 14px;
        width: 40%;
        border-radius: 5px;
        margin-left: 10px;
    }

    /* FORM FLOTANTE */
    
    .bckgrnd-black {
        display: none;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 3, 0, 0.6); /* Color oscuro con transparencia */
        z-index: 9998; /* Valor alto para que se muestre por encima del contenido, pero detrás del formulario */
    }
       
    .form-float {
        width: 80%;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background-color: #B3A398;
        padding: 20px;
        border-radius: 5px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        z-index: 9999;
    }
    
    .form-ssid{
        display: inline-block;
        width: 500px;
        font-weight: bold;
        font-size: 18px;
        color: #65451F;
    }
    
    .form-psswrd{
        width: 90%;
        color: #473737; 
        font-size: 18px; 
        font-weight: bold; 
        text-align: left; 
        background: #ffffff; 
        padding: 10px;
        border-radius: 5px;
    }
    
    .floatbtn-net {
        padding: 8px 20px;
        background-color: #C08261;
        color: rgb(245, 243, 255);
        border: none;
        cursor: pointer;
        font-weight: bold;
        font-size: 14px;
        width: 40%;
        border-radius: 5px;
        margin-left: 5%;
        margin-top: 5% ;
    }
    
    .btn-net:hover{
        background-color: #BA704F;
        color: white;
        transition: 500ms;
        transform: scale(1.1);
      }
}
